body {
	background: ghostwhite;
}

header {
	background: gainsboro;
}

.h1-titulo {
	font-family: 'Bitter', serif;
	margin: 0 auto;
}

.margin-top {
	margin-top: 40px;
}
.margin-container{
	margin-top: 40px;
}
.padding-top {
	padding-top: 40px;
}

.padding-social{
	padding-top: 40px;
}
.padding-title{
	padding-top: 40px
}
.margin-logo{
	margin: 10px 0px 10px;
}
img {
	margin-left: 5px;
}

.text-center {
	text-align: center;
}

@media only screen and (max-width : 768px) {
.margin-logo{
	margin: 10px 0 0;
}
.padding-top{
padding-top: 20px;
}
.padding-title{
	padding-top: 0px;
	padding-bottom: 10px;
}
.padding-social{
	padding-top: 0px;
	padding-bottom: 15px; 
}
    }

		@media only screen and (max-width : 992px) {
.margin-logo{
	margin: 10px 0 0;
}
.padding-top{
padding-top: 20px;
}
.padding-title{
	padding-top: 0px;
	padding-bottom: 10px;
}
.padding-social{
	padding-top: 0px;
	padding-bottom: 15px; 
}
    }

